* {
	box-sizing: border-box;
	text-align: left;
	background color: #ffffff;
}

body {
	margin: 0 auto;
	font-size: ;
	font-family: "Georgia", Times New Roman, Times, serif;
	
}

h1 {
	

}



#cherieshedd {
	background-color: #4aaaa5;
	font-family: 'Georgia'
	color: #ffffff;


}

#topbar {

}

#aboutme {
	font color: #4aaaa5;

}

#profile {
	height: 430px;
	width: 450px;
}